@keyframes ldio-o4zbccl6mri {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}
.loader{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ldio-o4zbccl6mri div {
  position: absolute;
  width: 50%;
  height: 50%;
  border: 5px solid #ffffff;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-o4zbccl6mri div {
  animation: ldio-o4zbccl6mri 0.970873786407767s linear infinite;
  top: 50%;
  left: 50%;
}
.loadingio-spinner-rolling-o9t3h6sdt9 {
  width: 30px;
  height: 30px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-o4zbccl6mri {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.ldio-o4zbccl6mri div { box-sizing: content-box; }
